red1 = #B52209
*
  margin 0px
  padding 0px
  border 0px
  text-decoration none
  font-family "Helvetica", sans-serif

html, body
  width 100%
  height auto


h2
  font-weight bold

a 
  font-style italic
  font-size 13pt
  color red1
  p
    color red1
a:hover
  text-decoration none
  cursor pointer
  font-variant small-caps
  color red1
  p
    color red1

p
  text-align left
  font-size 13pt
  color #555

strong
  font-variant small-caps
  font-size 18pt

#main
  margin 50px auto
  text-align center
  width 100%
  height auto
  min-height auto

#logo
  img
    width 100%
    height auto

nav
  div
    width 490px
    margin 0 auto
  a
    border-right 1px solid #fff
  a:last-child
    border-right none

@media (max-device-width : 1024px)
  nav
    width 100%
    div
      margin 0 auto
      width 100%
      a.navbar-brand
        font-size 30px!important
        padding 15px 10px
        width 50%
        text-align center
        &:nth-child(2)
          border none

.inline
  display inline-block

.bold
  font-weight bold

img.img-thumbnail
  border none
  max-width 300px
  width 100%
