doctype 5
html
  head
    title robot parade nola
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/client.css", rel="stylesheet")
    link(rel='icon', type='image/x-icon', href='/img/fav.png')
    meta(name="description", content="The Robot Parade. New Orleans, LA")
    meta(name="keywords", content="maker, makers, hacker, hackers, robotics, hacking, making, nola, new orleans,  louisiana, parade, ball, robots, kinectic, art, sculpture")
    meta(name="author", content="H. Cole Wiley")
  body
    .container
      .row
        a(href='/')
          #logo.col-sm-8.col-sm-offset-2
            h1.hidden Robot Parade
            img(src='/img/logo.svg', title='The Robot Parade')
      .row
        nav.navbar.navbar-inverse.col-sm-8.col-sm-offset-2(role='navigation')
          div
            a.navbar-brand(href='http://blog.robotparadenola.org') blog
            a.navbar-brand(href='http://facebook.com/robotparadenola') facebook
            a.navbar-brand(href='http://www.flickr.com/photos/hcwiley/sets/72157632162866097/') 2012 images
            a.navbar-brand(href='#contact') contact
      .row
        .col-sm-8.col-sm-offset-2.text-center
          strong.text-center this december, come celebrate the robot parade and ball!
          p The Robot <span class='bold'>Parade</span> is a community event. We encourage everyone to dress in robot costume and parade through the Bywater with us. We will be hosting a costume making session for 4 hours immediately preceding the parade.
          p The Robot <span class='bold'>Ball</span> is a kinetic art show immediately following the parade. There is a $1 admission fee if you are not in costume or do not have a doubloon from the parade. There will be food, drink, and live music to accompany the art. We will also be crowning a King and Queen of the Robot Ball, so wear your best robotic attire if you want a shot.
          p Artists and makers are encouraged to make a robot to put in the parade. If you want to see what others in the community are working on, come to a Wednesday night <a href='http://makersofno.la'>Makers of NO meet-up</a>.
          p Artists who are interested in putting art up at the Ball should send an email to: <a href='mailto:robotparadenola@gmail.com'>robotparadenola@gmail.com</a>
      .row
        .col-sm-10.col-sm-offset-1
          br
          hr
          br
        
      #contact.row
        .col-sm-6.col-sm-offset-3.text-center
          a.text-center(href='mailto:robotparadenola@gmail.com')
            p.text-center robotparadenola@gmail.com
            img.text-center(src='/img/email.svg', width='100px')
