doctype 5
html
  head
    title robot parade nola
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/client.css", rel="stylesheet")
    link(rel='icon', type='image/x-icon', href='/img/fav.png')
    meta(name="description", content="The Robot Parade. New Orleans, LA")
    meta(name="keywords", content="robot, maker, makers, hacker, hackers, robotics, hacking, making, nola, new orleans,  louisiana, parade, ball, robots, kinectic, art, sculpture")
    meta(name="author", content="H. Cole Wiley")
  body
    nav.navbar.navbar-inverse(role='navigation')
      div
        a.navbar-brand(href='http://facebook.com/robotparadenola') facebook
        a.navbar-brand(href='http://vimeo.com/82412250') 2013 movie
        a.navbar-brand(href='http://www.flickr.com/photos/hcwiley/sets/72157632162866097/') 2012 images
        a.navbar-brand(href='#contact') contact
    .container
      .row
        a(href='/')
          #logo.col-lg-8.col-lg-offset-2.col-md-6.col-md-offset-3
            h1.hidden Robot Parade
            img(src='/img/title.png', title='The Robot Parade', width="100%")
      .row
        .col-sm-10.col-sm-offset-1
          br
          hr
      .row
        .col-lg-8.col-lg-offset-2.text-center
          h2.text-center(style='font-variant: small-caps;') this november 29th, come celebrate the robot parade and ball!
          p The Robot <span class='bold'>Parade</span> is a community event. We encourage everyone to dress in robot costume and parade through the Bywater with us. We will be hosting a costume making session for 4 hours immediately preceding the parade in conjunction with <a href='http://press-street.org/drawathon/'>Draw-a-thon</a>. The Parade is starting at <a href='https://www.google.com/maps/place/Marigny+Opera+House/@29.9647914,-90.0477018,18z/data=!4m2!3m1!1s0x0000000000000000:0xfa03e1597122118e', target='_blank'>The Marigny Opera House</a> and going to <a href='https://www.google.com/maps/place/612+Piety+St,+New+Orleans,+LA+70117/@29.9623192,-90.0431748,19z/data=!3m1!4b1!4m2!3m1!1s0x8620a631dfd38d3b:0xa617c93de3735c5b', target='_blank'>The Old Iron Works</a>
      .row
        .col-lg-8.col-lg-offset-2
          img(src='/img/route-info.png', width='100%')
      .row
        .col-lg-8.col-lg-offset-2.text-center
          br
      .row
        .col-lg-8.col-lg-offset-2.text-center
          p The Robot <span class='bold'>Ball</span> is an art show immediately following the parade that celebrates invention. Tthe Ball is from 6 to 9 pm where there will be decadent food from the lovely Tres Bernard of <a href='https://www.facebook.com/WeveGotSoul'>We’ve got Soul</a>, delicious beverages, live music, and of course amazing art.. The atmosphere of the Ball is somewhere between art opening, science fair, and circus. 
          p Artists and makers are encouraged to make a robot to put in the parade. If you want to see what others in the community are working on, come to a Thursday night <a href='http://makersofno.la'>Makers of NO meet-up</a>.
          p Artists who are interested in putting art up at the Ball should send an email to: <a href='mailto:robotparadenola@gmail.com'>robotparadenola@gmail.com</a>
      .row
        .col-lg-8.col-lg-offset-2.text-center
          br
      .row
        .col-sm-10.col-sm-offset-1
          h5.text-center thanks to our sponsors
          .col-md-3.col-sm-6
            a(href='http://4pt0.org/')
              .col-xs-10.col-xs-offset-1
                img.img-thumbnail(src='/img/4pt0schools.png')
          .col-md-3.col-sm-6
            a(href='https://wileycousins.com')
              .col-xs-10.col-xs-offset-1
                img.img-thumbnail(src='/img/wileycousins.png')
          .col-md-3.col-sm-6
            a(href='http://www.bricolagenola.org/')
              .col-xs-10.col-xs-offset-1
                br
                img.img-thumbnail(src='/img/bricolage.png')
          .col-md-3.col-sm-6
            a(href='http://nolamakerfaire.com/')
              .col-xs-10.col-xs-offset-1
                br
                img.img-thumbnail(src='/img/New-Orleans_MMF.png')
      .row
        .col-sm-10.col-sm-offset-1
          br
          hr
          br
      .row
        .col-lg-8.col-lg-offset-2.text-center
          br
      .row
        .col-lg-8.col-lg-offset-2.text-center
          br
          a(href='/img/robot-parade-poster-2014.pdf', target='_blank')
            img(src='/img/poster-mini.png')
            h3.text-center download the poster to share
      .row
        .col-lg-8.col-lg-offset-2.text-center
          br
      .row
        .col-sm-10.col-sm-offset-1
          br
          hr
          br
        
      #contact.row
        .col-sm-6.col-sm-offset-3.text-center
          a.text-center(href='mailto:robotparadenola@gmail.com')
            p.text-center robotparadenola@gmail.com
            img.text-center(src='/img/email.svg', width='100px')
